.header__lang-switch {
  width: 77px;
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

@media screen and (max-width: 767px) {
  .header__lang-switch {
    width: 62px;
    margin-top: 5px;
  }
}